{% extends 'base.html' %}

{% block title %}Payment List{% endblock title %}
{% block pageheader %}
    <h3>Payment List</h3>
{% endblock pageheader %}

{% block content %}
    TEST
    <table>
    	<tbody>
		    {% for payment in payment_list %}
    		<tr>>
    			<td>{{ payment }}</td>
    			<td><a href="{% url 'payment:payment_charge' payment.id %}" class="btn btn-primary">Charge</a></td>
    		</tr>
		    {% endfor %}
		</tbody>
	</table>

    <a href="{% url 'payment:payment_create' %}" class="btn btn-primary">Pay</a>

{% endblock content %}
