{% extends 'base.html' %}

{% load static %}

{% block title %}Make Payment{% endblock title %}
{% block pageheader %}
    <h3>Make Payment</h3>
{% endblock pageheader %}

{% block script %}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" charset="utf-8">
        var stripe = Stripe('{{ stripe_publishable_key }}');
        var elements = stripe.elements();
    </script>
{% endblock script %}

{% block content %}

    <form action="{% url 'payment:payment_create' %}" method="post" id="payment-form">
        {% csrf_token %}
            <div>

                <div>
                    <div>
                        <h4">Billing Information</h4>
                    </div>
                    <div>
                        <div>
                            <label for="cardholder_name">Name</label>
                            <div id="cardholder-name">
                                <input id="cardholder_name" type="text" placeholder="Name" class="textinput textInput form-control">
                            </div>
                        </div>
                     
                        <div>
                            <label for="cardholder_email">Email Address</label>
                            <div id="cardholder-email">
                                <input id="cardholder_email" type="text" name="email" placeholder="Email Address" class="textinput textInput form-control">
                            </div>
                        </div>
                        
                        <div>
                            <label for="cardholder_street">Street</label>
                            <div id="cardholder-street">
                                <input id="cardholder_street" type="text" placeholder="Street" class="textinput textInput form-control">
                            </div>
                        </div>

                        <div>
                            <label for="cardholder_city">City</label>
                            <div id="cardholder-city">
                                <input id="cardholder_city" type="text" placeholder="City" class="textinput textInput form-control">
                            </div>
                        </div>

                        <div>
                            <label for="cardholder_post_code">Post Code</label>
                            <div id="cardholder-post_code">
                                <input id="cardholder_post_code" type="text" placeholder="Post Code" class="textinput textInput form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <h4>Card Information</h4>
                    </div>
                    <div>
                        <div>
                            <label for="card-number">Number</label>
                            <div id="card-number">
                                <!-- A Stripe Element for card number will be inserted here. -->
                            </div>
                        </div>

                        <div>
                            <label for="card-expiry">Expiry</label>
                            <div id="card-expiry">
                                <!-- A Stripe Element for card expiry will be inserted here. -->
                            </div>
                        </div>

                        <div>
                            <label for="card-cvc">CVC</label>
                            <div id="card-cvc">
                                <!-- A Stripe Element card cvc will be inserted here. -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Used to display Element errors. -->
                <div id="card-errors" role="alert" class="hidden-xs-up alert alert-danger" style="margin: 10px 0;">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <span class="message"></span>
                </div>
            </div>

            <!-- 5786 4369 4349 4425 -->
            <div class="float-xs-right">
                <button id="charge_button" class="btn btn-primary"> Pay</button>
            </div>
    </form>

    <script type="text/javascript" src="{% static 'js/public/stripe_payment.js' %}"></script>
    {% comment %}
    {% endcomment %}

{% endblock content %}