{% extends 'base.html' %}

{% load static %}

{% block title %}Make Payment{% endblock title %}
{% block pageheader %}
    <h3>Make Payment</h3>
{% endblock pageheader %}

{% block script %}
{% endblock script %}

{% block content %}

    <form action="{% url 'payment:payment_charge' payment.id %}" method="post" id="payment-form">
    	{% csrf_token %}
		<button id="charge_button" class="btn btn-primary"> Charge</button>
    </form>

{% endblock content %}