{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script type="text/javascript"  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="crossorigin="anonymous"></script>
    {% block style %}{% endblock style%}
    {% block head %}{% endblock head %}
    {% block script %}{% endblock script %}
</head>
<body id="{% block body_id %}{% endblock %}">
    <header id="header">
    </header>

    <div class="container">
        <div id="pageheader">
            {% block pageheader %}
            {% endblock pageheader %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <footer id="footer">
        Copyright &copy; {% now "Y" %}
    </footer>
</body>
</html>
